
form {
     Font-family: Arial, sans-serif;
    background-color:#FFEADD;
    color: #000000;
}
body {
  background-color:#FFEADD ;
}

fieldset{
  background-color: #FFEADD ;
  border: 1px solid #dc9a71;
  border-radius: 5px;
}
input[type="text"],
input[type="tel"],
input[type="email"]
{    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #dc9a71;
    border-radius: 5px;
}
textarea {
  width: 95%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dc9a71;
  border-radius: 5px;
  resize: vertical; 
}
      input[type="submit"] {
        background-color: #007bff;
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }