@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  background: #FFEADD;
  color: #000;
  font-family: 'Nunito', sans-serif;
  min-height: 100vh;
  /* Esto establece la altura mínima al 100% de la altura de la ventana del navegador */

}

.contenedor {
  max-width: 95%;
  margin: 0 auto;
  padding: 20px;
}

/* Estilos del encabezado */
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.encabezado .logo img {
  height: 100px;
  width: auto;
  transition: all 0.2s;
}

/*hace un efecto al logo de movimiento*/
.encabezado .logo img:hover {
  transform: scale(1.2);
}

/*hace que al pasar por el logo aparezca la manito*/
.encabezado .logo {
  cursor: pointer;
}


/*configura el header*/
.contenedor .encabezado {
  background: #fff;
  display: flex;
  color: black;
  grid-area: encabezado;
  justify-content: flex-start;
  align-items: center;
  height: 50%;
  padding: 5px 1%;
  font-size: 2vw;
}

.encabezado .animales {
  height: 50%;
  width: auto;
  order: 3;
  margin-left: auto;
}
/*se le quita los puntos de lista*/
.encabezado .menu {
  list-style: none;
}

/*hace que al pasar el mouse cambie el tamaño de la tipografia*/
.encabezado .menu li:hover {
  transform: scale(1.1);
}


/*hace que a todos lo LI del menu este ordenado en linea horizontal*/
.encabezado .menu li {
  display: inline-block;
  padding: 0 20px;
}

/*hace que a todos los A del menu no tengan el subrayado*/
.encabezado .menu a {
  font-size: 700;
  color: #000;
  text-decoration: none;
}

.encabezado .menu li a:hover {
  color: #FFBB5C;
}


/* Estilos de las noticias */
.div1, .div2, .div3 {
  text-align: center;
  margin-bottom: 30px;
  margin: 10px;
  border: 2px solid ;
  background-color: #afe7e1;
  padding: 20px;
  border-radius: 20px;
}

.div1 img, .div2 img, .div3 img{
  max-width: 20%;
  max-height: 20%;
  display: block;
  margin: 10px auto;
  float:inline-start

}

.div1 p, .div2 p, .div3 p{
  text-align: justify;
}

/* Estilos del pie de página */
.pie {
  text-align: center;
}
@keyframes desplazamiento {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.img{
  margin: 10px 10px;
}

.marcas{
    background: #89B5AF;
    color: #fff;
    max-width: 100%;
    max-height: auto;
    text-align: left; 
    padding: 10px; 
    animation: desplazamiento 10s linear infinite ;
     }

.imagen {
 max-width: 12vw;
 max-height: auto;
display: inline-block;
margin: 10px;
}
  
  
