body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #FFEADD;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.carrito {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #96C7C1;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}