body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #FFEADD;
    align-items: center;
}

  
header {
    text-align: center;
    margin-bottom: 20px;
}


.productos {
    display: flex;
    flex-wrap: wrap;
    align-self: start;
justify-content: center;
border: 10px;
}
td{
    background-color: #ffffff ;
    border-radius: 10px;
}

.producto {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: center;
    font-size: large;
      }
.producto img{
    width: 400px;
    height: 500px;
}
.carrito {
    margin-top: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #96C7C1;
    color: white;
    border: none;
    padding: 20px 30px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}